.frame {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
  @media($tablet-widths) {
    width: 640px;
   }
  @media($desktop-widths) {
    width: 960px;
   }
  @media($large-widths) {
    width: 1200px;
   }
}
.js_slider{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.slides {
  overflow: hidden;
  display: inline-block;
  li {
    width: 170px;
    font-size: 16px;
    position: relative;
    display: inline-block;
  }
  a{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.js_slides{
  padding-top: 20px;
}
.js_slide{
  height: 40px;
  position: relative;
}
.prev, .next {
  position: absolute;
  top: 50%;
  display: block;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.next svg, .prev svg {
  width: 25px;
}