.pricing {
  min-height: 388px;
  background-color: #e25050;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  h1 {
    font: 700 24px / 21px 'Oswald';
    text-transform: uppercase;
  }
  &__items{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    @include clearfix;
    width: 370px;
    background-color: #d14343;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: 30px;
    border: 2px solid transparent;
    &:hover {
      background-color: #e25050;
      border: 2px solid white;
      .pricing__right {
        border-color: white;
      }
    }
    ul {
      width: 60%;
      text-align: left;
      margin: 0;
      padding: 0;
      padding-left: 20px;
      margin-top: 20px;
      border-left: 1px solid #e25050;
      li {
        font: 400 12px / 21px 'Open Sans';
      }
      i {
        margin-right: 10px;
      }
    }
  }
  &__left {
    float: left;
    width: 40%;
    text-transform: uppercase;

    padding-top: 30px;
    p {
      font: 700 18px / 21px 'Oswald';
      margin-top: 35px;
      margin-bottom: 25px;
    }
    span {
      font: 700 36px / 21px 'Oswald';
    }
    .min-span-price {
      font: 700 14px / 21px 'Oswald';
    }
    &--standard{
      background: url(../images/pricing-icon-standard.png) no-repeat 50% 20px;
    }
    &--advanced{
      background: url(../images/pricing-icon-advanced.png) no-repeat 50% 20px;
    }
    &--bisiness{
      background: url(../images/pricing-icon-bisiness.png) no-repeat 50% 20px;
    }
  }
  &__right{
    float: right;
  }
  @media($desktop-widths) {
    &__items{
      justify-content:space-between;
    }
  }

}