.trainers {
  min-height: 527px;
  background: url(../images/trainers-bg.png);
  padding-top: 40px;
  padding-bottom: 40px;
  h1 {
    font: 700 24px / 21px Oswald;
    color: #fff;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    margin-bottom: 20px;
    background: #fff;
    width: 270px;
    text-transform: uppercase;
    text-align: center;
    h2 {
      margin-left: 20px;
      font: 700 14px / 24px Oswald;
    }
    p {
      margin-left: 20px;
      font: 400 12px / 24px Oswald;
      color: #afafaf;
      margin-top: -10px;
    }
  }
  &__image {
    img {
      margin: auto;
      width: 100%;
    }
  }
  @media($mobile-widths-only) {
      &__items{
        justify-content: center;
      }
   }
}