.welcome {
  padding-top: 40px;
  padding-bottom: 40px;
  h1 {
    font: 700 30px / 30px Oswald;
    text-transform: uppercase;
    span {
      color: #e25050;
    }
  }
  p {
    font: italic 16px / 30px 'Droid Serif Italic';
    color: #a2a2a2;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 270px;
    text-align: left;
    h2 {
      font: 700 14px / 23px Oswald;
      text-transform: uppercase;
      i {
        @include inlineBlock();
        width: 26px;
        height: 23px;
        background: url(../images/welcome-i-sprite.png) no-repeat 0 0;
      }
    }
    p {
      font: 400 13px / 21px 'Open Sans';
      color: #777777;
    }
    &:nth-of-type(2) h2 i {
      margin-right: 10px;
      background: url(../images/welcome-i-sprite.png) no-repeat -43px 0;
    }
    &:nth-of-type(3) h2 i {
      background: url(../images/welcome-i-sprite.png) no-repeat -96px 0;
    }
    &:nth-of-type(4) h2 i {
      background: url(../images/welcome-i-sprite.png) no-repeat -140px 0;
    }
  }
  @media($mobile-widths-only) {
      &__items{
        justify-content: center;
      }
   }
}