html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
html{
  color:$bg-color;
}
body {
  min-height: 100vh;
  position: relative;
  font-family: $font;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.42;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.wrapper{
  display: table;
  height: 100%;
  width: 100%;
}
.content{
  display: table-row;
  height: 100%;
}
section {
  text-align: center;
}
.noscript{
  display: block;
  text-align: center;
  position: fixed;
  opacity: 0.7;
  top: 0 ;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  color: #0000AA;
  background: #ff7b93;
}
.container{
  @include container;
}
.title{
  @include inlineBlock();
  position: relative;
  font: 700 24px/21px Oswald;
  color: #202020;
  text-transform: uppercase;
  &--trainers, &--pricing{
    color: #fff;
  }
  &--welcome{
    &:after{
      display: none;
    }
  }
  span{
    color: $accentColor;
  }
  &:after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 40%;
    height: 1px;
    background: currentColor;
  }
}